html {
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", sans-serif;
  font-feature-settings: "dlig", "liga", "lnum", "kern";
  line-height: 1.5em;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
