body {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-color: #2D72D9;
  color: #fff;
}

.error-container {
  text-align: center;
  height: 100%;
  h1 {
    transform: translateY(100%);
    position: relative;
    margin: 0;
    font-size: 220px;
    top: 50%;
  }
}
