.router-link {
  padding: 10px 10px;
  border-bottom: 1px solid #d1cfcf;
  display: flex;
}
.router-link:hover {
  background: rgb(255, 255, 255);
}
.router-link > .feed-count {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 400;
  border: 1px solid;
  border-radius: 7px;
  background: #2cadee;
  color: white;
  padding: 0 8px;
}

.menuItem {
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.menuItem:hover {
  background: rgb(255, 255, 255);
}
